body {
	margin: 0;
	padding: 0;
	background-color: #736773;
}


.profile {
	position: fixed;
	width: 400px;
	height: 100vh;
	background-color: #736B67;
	border-right: 1px solid black;
}

.photocontact {
	position: absolute;
	top: 125px;
	text-align: center;
}

.photo {
	width: 50%;
	border-radius: 50%;
}

.contactme {
	margin-top: 50px;
	font-family: 'Nunito', sans-serif;
	font-size: 120%;
}

.contact-btn {
	width: 50%;
	background-color: white;
	border: 2px solid black;
	border-radius: 20px;
	margin-bottom: 12px;
	font-size: 1.1rem;
	font-weight: bold;
	padding: 8px;
	font-family: helvetica;
}

.contact-btn:hover {
	background-color: black;
	color: white;
	transition: 1s;
}

.cv {
	position: absolute;
	left: 400px;
}

.topBar {
	padding-top: 50px;
	padding-left: 100px;
}

.title {
	font-style: italic;
	font-size: 1.3rem;
	font-family: 'Nunito', sans-serif;
	margin-right: 400px;
}

.shortcut {
	float: right;
	padding-right: 50px;
}

.menu {
	font-family: 'Nunito', sans-serif;
	font-size: 85%;
	padding: 0 10px 0;
}

a {
	text-decoration: none;
	color: white;
}

#myProfile {
	color: white;
	padding-top: 100px;
	padding-left: 100px;
}

#about {
	color: white;
	padding-top: 100px;
	padding-left: 100px;
	padding-right: 100px;
}

#experience {
	color: white;
	padding-top: 250px;
	padding-left: 100px;
}

#achievements {
	color: white;
	padding-top: 250px;
	padding-left: 100px;
}

#contact {
	color: white;
	padding-top: 250px;
	padding-left: 100px;
}

#footer {
	color: white;
	padding-top: 150px;
	text-align: center;
}

p, li {
	line-height: 175%;
	font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4 {
	font-family: 'Nunito', sans-serif;
}

h3 {
	line-height: 0;
}
